<div class="container">
  <div class="navbar-container">
    <div>
      <h1 [routerLink]="['/home']" class="logo">
        <span
          ><img width="180px" src="../../../assets/images/logo.png" alt=""
        /></span>
      </h1>
    </div>
  </div>
  <div class="login-form">
    <mat-card>
      <mat-card-header>
        <h1>{{ headerText }}</h1>
      </mat-card-header>
      <mat-card-content>
        <div class="page-overlay-wrapper" *ngIf="showSpinner">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        <h1 *ngIf="expired">This link has expired.</h1>
        <p *ngIf="expired">
          your request has expired or the link has already been used
        </p>
        <app-verify-email *ngIf="verifyEmailStatus"></app-verify-email>
        <app-reset-password
          (emitPass)="getPass($event)"
          *ngIf="resetPasswordStatus"
        ></app-reset-password>
        <app-recover-email *ngIf="recoverEmailStatus"> </app-recover-email>
      </mat-card-content>
    </mat-card>
  </div>
</div>
