.container{
  height: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none !important;
}
.header {
  font-family: "Nunito";
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;

  span {
    font-size: 18px;
    opacity: 0.75;
  }

  ::ng-deep {
    .mat-mdc-form-field {
      margin-top: 0px !important;
    }
    .mat-mdc-text-field-wrapper {
      height: 45px !important;
      align-items: center !important;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}

.content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 75px;
  margin-top: 50px;
  margin-bottom: 50px;

  .card {
    width: 400px;
    border-radius: 25px;
  }

  .card-content {

    width: 90%;
    margin: auto;

    img {
      border-radius: 15px;
      width: 350px;
      height: 250px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width:600px){
  .header {
    span {
      font-size: 16px;
      opacity: 0.75;
    }

    h1{
      font-size: 22px;
    }
  
    ::ng-deep {
      .mat-mdc-text-field-wrapper {
        height: 40px !important;
        align-items: center !important;
        width: 150px !important;
      }
    }
  }

}
@media screen and (max-width:405px){
  .header{
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    ::ng-deep {
      .mat-mdc-text-field-wrapper {
        height: 40px !important;
        align-items: center !important;
        width: 250px !important;
      }
    }
  }
  .content{
    width: 97.5 !important;
  
    .card{
      width: 280px;
    }
  
    img{
      width: 240px !important;
      object-fit: scale-down;
    }
  }
}
