<div
  class="container"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <mat-grid-list class="set-height" [cols]="cols" rowHeight="1:1.3">
    <mat-grid-tile *ngFor="let i of results">
        <div class="container-img">
            <img
            src="https://image.tmdb.org/t/p/w300{{ i.poster_path }}"
            alt=""
          />            
          <div class="overlay">
            <h3>{{i.title? i.title : i.name}}</h3>
            <div>
              <button (click)="addToFavourites()" class="popout" mat-icon-button>
                <mat-icon>add_circle_outline</mat-icon>
              </button>
                {{i.release_date? (i.release_date | date): i.first_air_date | date}}
            </div>
            <div><mat-icon>star</mat-icon>
                {{i.vote_average}}
            </div>
          </div>
          </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
