<div class="container">
    <div class="navbar-container">
        <div>
            <h1 [routerLink]="['/home']" class="logo">
                <span><img width="48px" src="../../../assets/images/icons8-movie-64.png" alt=""></span>
                MOVIES
            </h1>
        </div>
    </div>
    <div class="login-form">
        <mat-card>
            <mat-card-header>
                <h1>Recover Password</h1>
            </mat-card-header>
            <mat-card-content>
                <p class="text">Forgot your password? Then cool down and type your email address to retrieve it!</p>
                <form [formGroup]="forgotPasswordUserForm" (ngSubmit)="onSubmit()">
                    <mat-form-field [color]="'primary'" appearance="outline" [style.margin-top]="'15px'" class="form-container">
                        <mat-label>Enter your email</mat-label>
                        <input matInput required formControlName="email">
                        <mat-error *ngIf="getErrorMessage()">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <div class="button-container">
                        <button *ngIf="!display" [style.font-family]="'Nunito'" mat-flat-button>Submit</button>
                        <button class="login-button"  [@fadeInOut] [routerLink]="['/login']" *ngIf="display" [style.font-family]="'Nunito'" mat-flat-button>Go to sign up</button>
                    </div>
                </form>
                </mat-card-content>
        </mat-card>
    </div>
</div>