<div class="container">
  <div class="navbar-container">
    <div>
      <h1 [routerLink]="['/home']" class="logo">
        <span
          ><img width="180px" src="../../../assets/images/logo.png" alt=""
        /></span>
      </h1>
    </div>
  </div>
  <div class="login-form">
    <mat-card>
      <mat-card-header>
        <h1>Recover Password</h1>
      </mat-card-header>
      <mat-card-content>
        <p class="text">
          Forgot your password? Then cool down and type your email address to
          retrieve it!
        </p>
        <form [formGroup]="forgotPasswordUserForm" (ngSubmit)="onSubmit()">
          <mat-form-field
            [color]="'primary'"
            appearance="outline"
            [style.margin-top]="'15px'"
            class="form-container"
          >
            <mat-label>Enter your email</mat-label>
            <input
              autocomplete="off"
              matInput
              required
              formControlName="email"
            />
            <mat-error *ngIf="getErrorMessage()">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <div class="button-container">
            <button [style.font-family]="'Nunito'" mat-flat-button>
              Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
