<h1 [style.font-family]="'Nunito'" mat-dialog-title>Enter your password:</h1>
<div mat-dialog-content>
  <mat-form-field
    [style.font-family]="'Nunito'"
    [style.width]="'600px'"
    floatLabel="always"
    [style.margin-top]="'15px'"
    [color]="'primary'"
    appearance="fill"
    class="form-container"
  >
    <mat-label>Current password</mat-label>
    <input
      autocomplete="off"
      [(ngModel)]="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      required
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button
    cdkFocusInitial
    [style.font-family]="'Nunito'"
    mat-button
    mat-dialog-close
  >
    <mat-icon>cancel</mat-icon> Cancel
  </button>
  <button [style.font-family]="'Nunito'" (click)="submit()" mat-button [mat-dialog-close]="true">
    <mat-icon>check_circle</mat-icon>
    Delete my account
  </button>
</mat-dialog-actions>
