<div>
  <splide
    [options]="{
      type: 'loop',
      arrows: false,
      pagination: false,
      autoWidth: true,
      gap: 20
    }"
  >
    <splide-slide *ngFor="let i of data" >
      <div  class="container-img">
        <img
        
          *ngIf="!i.trailer.status"
          src="https://image.tmdb.org/t/p/w400/{{ i.backdrop_path }}"
          alt=""
        />
        <div [style.text-align]="'center'">
          <iframe
            *ngIf="i.trailer.status"
            [src]="ytUrl(i.trailer.key) | iframe"
            frameborder="0"
          ></iframe>
        </div>
        <div *ngIf="!i.trailer.status" class="overlay2">
          <div class="middle">
            <mat-icon (click)="loadTrailer(i)">play_circle_outline</mat-icon>
          </div>
        </div>
        <div *ngIf="!i.trailer.status" class="overlay">
          <h3 [style.margin]="'10px'">
            {{ i.title ? i.title : i.name }}
            <br />
            {{
              i.release_date
                ? (i.release_date | date : "MMM, yyyy")
                : (i.first_air_date | date : "MMM, yyy")
            }}
            <div></div>
          </h3>
        </div>
      </div>
    </splide-slide>
  </splide>
</div>
