<div [style.margin-left]="'25px'" [style.margin-right]="'25px'">
  <splide
    [options]="{
      type: 'loop',
      arrows: true,
      snap: true,
      drag: true,
      focus:'center',
      pagination: false,
      autoWidth: true,
      autoplay: true,
      gap: 20,
      perPage: 1
    }"
  >
    <splide-slide *ngFor="let i of data">
      <div class="container-img">
        <img
          height="250px"
          *ngIf="!i.video"
          src="https://image.tmdb.org/t/p/w1280/{{ i.backdrop_path }}"
          alt=""
        />
        <div [style.text-align]="'center'">
          <iframe
            *ngIf="i.video"
            [src]="ytUrl(i.trailer.key) | iframe"
            frameborder="0"
          ></iframe>
        </div>
        <div *ngIf="!i.video" class="overlay2">
          <div class="middle">
            <mat-icon (click)="loadTrailer(i)">play_circle_outline</mat-icon>
          </div>
        </div>
        <div *ngIf="!i.video" class="overlay">
          <h3 [style.margin]="'10px'">
            {{ i.title ? i.title : i.name }}
            <br />
            {{
              i.release_date
                ? (i.release_date | date : "MMM, yyyy")
                : (i.first_air_date | date : "MMM, yyy")
            }}
            <div></div>
          </h3>
        </div>
      </div>
    </splide-slide>
  </splide>
</div>
