<div id="filters" class="container">
  <div class="filter-container">
    <mat-button-toggle-group
      (change)="onValChange($event.value)"
      [style.font-family]="'Nunito'"
      [(ngModel)]="mediaType"
      aria-label="Font Style"
    >
      <mat-button-toggle value="movie">Movies</mat-button-toggle>
      <mat-button-toggle value="tv">TV Shows</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="genres-container">
      <mat-form-field appearance="outline">
        <mat-select
          multiple
          placeholder="Genres"
          (selectionChange)="genreChange($event)"
          [(value)]="selectedGenreName"
        >
          <mat-option
            *ngFor="let i of mediaType == 'movie' ? movieGenres : tvGenres"
            [value]="i"
          >
            <span>{{ i.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="year-select">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>From</mat-label>
        <input
          [max]="maxDate"
          [min]="minDate"
          matInput
          [matDatepicker]="picker"
          [formControl]="dateStart"
        />
        <mat-datepicker-toggle
          [disabled]="false"
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          startView="multi-year"
          (yearSelected)="yearSelectedStart($event, picker)"
          [disabled]="false"
          #picker
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="year-select">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>To</mat-label>
        <input
          [max]="maxDate"
          matInput
          [matDatepicker]="pickerEnd"
          [formControl]="dateEnd"
        />
        <mat-datepicker-toggle
          [disabled]="false"
          matIconSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker
          startView="multi-year"
          (yearSelected)="yearSelectedEnd($event, pickerEnd)"
          [disabled]="false"
          #pickerEnd
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-select-country
        [formControl]="countryFormControl"
        class="select-country"
        (onCountrySelected)="onCountrySelected($event)"
        autocomplete="off"
        appearance="outline"
      ></mat-select-country>
    </div>
  </div>
</div>
<div class="filters-button-container">
  <button
    class="filters-button"
    mat-raised-button
    [style.font-family]="'Nunito'"
    (click)="openTemplateSheetMenu()"
  >
    Filters <mat-icon>filter_list</mat-icon>
  </button>
</div>
<div class="padding" [style.padding-top]="'55px'"></div>
<h1 [style.font-family]="'Nunito'" [style.text-align]="'center'" *ngIf="status">
  No data for this filter...
</h1>
<app-see-all
  (nextPage)="sendPage($event, mediaType)"
  [data]="mediaType == 'movie' ? movieData : tvData"
  [results]="mediaType == 'movie' ? movieList : tvList"
></app-see-all>

<!-- Bottom Sheet -->
<ng-template let-bottomSheetRef="bottomSheetRef" #templateBottomSheet>
  <div class="filter-container">
    <mat-button-toggle-group
      (change)="onValChange($event.value)"
      [style.font-family]="'Nunito'"
      [(ngModel)]="mediaType"
      aria-label="Font Style"
    >
      <mat-button-toggle value="movie">Movies</mat-button-toggle>
      <mat-button-toggle value="tv">TV Shows</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="genres-container">
      <mat-form-field appearance="outline">
        <mat-select
          multiple
          placeholder="Genres"
          (selectionChange)="genreChange($event)"
          [(value)]="selectedGenreName"
        >
          <mat-option
            *ngFor="let i of mediaType == 'movie' ? movieGenres : tvGenres"
            [value]="i"
          >
            <span>{{ i.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="year-select">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>From</mat-label>
        <input
          [max]="maxDate"
          [min]="minDate"
          matInput
          [matDatepicker]="picker"
          [formControl]="dateStart"
        />
        <mat-datepicker-toggle
          [disabled]="false"
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          startView="multi-year"
          (yearSelected)="yearSelectedStart($event, picker)"
          [disabled]="false"
          #picker
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="year-select">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>To</mat-label>
        <input
          [max]="maxDate"
          matInput
          [matDatepicker]="pickerEnd"
          [formControl]="dateEnd"
        />
        <mat-datepicker-toggle
          [disabled]="false"
          matIconSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker
          startView="multi-year"
          (yearSelected)="yearSelectedEnd($event, pickerEnd)"
          [disabled]="false"
          #pickerEnd
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-select-country
        class="select-country"
        (onCountrySelected)="onCountrySelected($event)"
        autocomplete="off"
        appearance="outline"
      ></mat-select-country>
    </div>
  </div>
</ng-template>
