<div class="container">
  <div class="filter-container">
    <mat-button-toggle-group
      (change)="onValChange($event.value)"
      [style.font-family]="'Nunito'"
      [(ngModel)]="mediaType"
      aria-label="Font Style"
    >
      <mat-button-toggle value="movie">Movies</mat-button-toggle>
      <mat-button-toggle value="tv">TV Shows</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="genres-container">
      <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
        <mat-select
          placeholder="Genres"
          (selectionChange)="genreChange($event)"
          [(value)]="selectedGenreName"
        >
          <mat-option
            *ngFor="let i of mediaType == 'movie' ? movieGenres : tvGenres"
            [value]="i"
          >
            <span>{{ i.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>
<div   class="placholder"  [style.padding-top]="'105px'">
</div>
<app-see-all
(nextPage)="sendPage($event, mediaType)"
    [data]="mediaType == 'movie' ? movieData : tvData"
    [results]="mediaType == 'movie' ? movieList : tvList"
  ></app-see-all>
</div>
