img {
  border-radius: 10px;
  width: 100%;
  &:active {
    cursor: grab;
  }
}

div {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
:host::ng-deep {
  #splide01-track {
    border-radius: 10px !important;
  }

  .splide__track {
    border-radius: 10px !important;
  }
}
.container-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(200, 200, 200, 0.75);
  color: black;
  width: 100%;
  height: 20%;
  transition: 0.5s ease;
  font-size: 14px;
  font-family: "Nunito";
  margin: 0;
  h3 {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  }
}

@-webkit-keyframes popout {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes popout {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.popout{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  &:focus{
    -webkit-animation-name:popout;
    animation-name: popout;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}