<div [style.margin-left]="'25px'" [style.margin-right]="'25px'">
  <splide
    [options]="{
      type: 'loop',
      perPage: 3,
      perMove: 1,
      drag: 'free',
      arrows: false,
      pagination: false,
      omitEnd: false,
      autoWidth: true,
      gap: 20
    }"
  >
    <splide-slide *ngFor="let i of data">
      <div class="container-img">
        <img
          height="325px"
          src="https://image.tmdb.org/t/p/w1280/{{ i.backdrop_path }}"
          alt=""
        />
        <div class="overlay">
          <h3 [style.margin]="'10px'">
            {{ i.title ? i.title : i.name }}
            ({{
              i.release_date
                ? (i.release_date | date : "yyyy")
                : (i.first_air_date | date : "yyyy")
            }})
            <div class="buttons">
              <button
                class="watch-now"
                [style.font-family]="'Nunito'"
                mat-raised-button
                [style.border-radius]="'25px'"
                [style.min-width]="'85%'"
                [routerLink]="['/ngmovies/',i.media_type, i.id]"
              >
                Watch now
              </button>
              <button
                (click)="addToFavourites(i, 1)"
                class="popout"
                mat-icon-button
              >
                <mat-icon *ngIf="!i.bookmarked">add_circle_outline</mat-icon>
                <mat-icon *ngIf="i.bookmarked">add_circle</mat-icon>
              </button>
            </div>
          </h3>
        </div>
      </div>
    </splide-slide>
  </splide>
</div>
