img {
  border-radius: 10px;
}

div {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
:host::ng-deep {
  #splide01-track {
    border-radius: 10px !important;
  }

  .splide__track{
    border-radius: 10px !important;
  }
}
