<div class="container">
    <div class="navbar-container">
        <div>
            <h1 class="logo">
                <span><img width="180px" src="../../../assets/images/logo.png" alt=""></span>
            </h1>
        </div>
        <div [style.display]="'flex'" [style.align-items]="'center'">
            <button [routerLink]="['/login']" mat-raised-button class="white">Sign In</button>
        </div>
    </div>
    <div class="text-container">
        <div >
            <h1>Unlimited movies, TV shows, and more.
            </h1>
            <h2>Watch anywhere. Cancel anytime.
            </h2>
            <h3 [style.margin-top]="'10px'">Ready to watch? Sign up now and create your membership.
            </h3>
            <button mat-stroked-button [routerLink]="['/register']" class="white sign-up" color="basic">Sign Up &#187;</button>
        </div>
    </div>
</div>
