* {
  margin: 0 auto;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  background-color: #1f1f1f;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.9)
  );

  .navbar-container {
    color: white;
    display: flex;
    justify-content: space-between;

    .logo {
      padding-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 25px;
      font-family: "Nunito";

      &:hover {
        cursor: pointer !important;
      }
    }
  }
}

.sign-up-button-container {
  button {
    margin-bottom: 10px;
    width: 50%;
    padding: 25px;
    font-size: 18px;
  }
}

.sign-up {
  padding-top: 25px;
}

.login-form {
  font-family: "Nunito";
  height: 600px;
  display: flex;
  align-items: center;
  color: white;

  .mdc-card {
    background-color: rgba(255, 255, 255, 0.096);
    width: 50%;
    text-align: center;

    .mat-mdc-card-content {
      margin: 0;
    }
  }
}

.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  mat-form-field {
    width: 40%;
    font-size: 16px;
  }
  p {
    cursor: pointer;

    &:hover {
      color: #ffffff98;
    }
  }
}

.form-container {
  width: 90%;
  padding-top: 25px;
  .mad-mdc-form-field-error {
    font-size: 33px !important;
  }

  span {
    cursor: pointer;
    margin-right: 10px;
  }
}
.mat-mdc-form-field-error {
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-height: 700px) {
  .container {
    height: 700px;
  }
}
@media screen and (max-width: 650px) {
  .login-form {
    .mdc-card {
      width: 90%;
    }
  }
}

@media screen and (max-width: 360px) {
  .input-container{
    display: block;
    margin-top: 0px;
    mat-form-field {
      width: 90%;
      margin-top: 0px !important;
      font-size: 14px;
    }
  }
  .button-container {
    button {
      min-width: 25%;
      font-size: 12px;
    }
    p {
      font-size: 14px;
    }
  }
  .sign-up-button-container{
    margin-top: 25px;
    button{
      width: 90%;
    }
  }
  form {
    font-size: 12px;
  }
}
