.container{
    background-color: #1F1F1F  
}
.hero-container{
    height: 80%;
    background-image: linear-gradient(0deg,rgba(0,0,0,.9) 0,transparent 60%,rgba(0,0,0,.9)), url('../../../assets/images/RS-en-20221128-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mat-divider {
    border-top-width: 13px;
    background-color: black;
}

.splide-container{
    background-color:#1F1F1F;
}

@keyframes scroll{
    0%{
        transform:translateX(0);
    }
}

img{
    border-radius: 10px;
}

:host::ng-deep{
    .splide__list{
        animation:scroll 40s linear infinite;
    }

    .splide{
        pointer-events: none;
        border-top: none !important;
    }

    #splide02{
      
        .splide__list{
            animation:scroll 30s linear infinite;
        }
        
    }
}    


