<div class="container">
  <div class="hero-container">
    <app-nav-bar></app-nav-bar>
  </div>
  <mat-divider></mat-divider>
  <div class="splide-container">
    <splide
      [options]="{
        type: 'loop',
        perPage: 7,
        arrows: false,
        pagination: false,
        autoWidth: true,
        gap: 20
      }"
    >
      <splide-slide *ngFor="let image of movies">
        <img
          height="250px"
          src="https://image.tmdb.org/t/p/w300/{{ image.poster_path }}"
          alt=""
        />
      </splide-slide>
    </splide>
  </div>
  <mat-divider></mat-divider>
  <div class="splide-container">
    <splide
      [options]="{
        type: 'loop',
        perPage: 7,
        arrows: false,
        pagination: false,
        autoWidth: true,
        gap: 20
      }"
    >
      <splide-slide *ngFor="let image of shows">
        <img
          height="250px"
          src="https://image.tmdb.org/t/p/w300/{{ image.poster_path }}"
          alt=""
        />
      </splide-slide>
    </splide>
  </div>
  <br />
  <br />
  <div>
    <div class="text-container">
      <h1>Watch now on these devices</h1>
    </div>
    <br />
    <br />
    <div class="icons-container">
      <div>
        <mat-icon>tv</mat-icon>
        <h2>TV</h2>
        <hr />
        <ul>
          <li>Apple TV</li>
          <li>Android TV</li>
          <li>Chromecast</li>
          <li>Samsung TV</li>
          <li>LG</li>
        </ul>
      </div>
      <div>
        <mat-icon>desktop_windows</mat-icon>
        <h2>Computer</h2>
        <hr />
        <ul>
          <li>Chrome OS</li>
          <li>MacOS</li>
          <li>Windows PC</li>
        </ul>
      </div>
      <div>
        <mat-icon>gamepad</mat-icon>
        <h2>Console</h2>
        <hr />
        <ul>
          <li>PS5</li>
          <li>PS4</li>
        </ul>
      </div>
      <div>
        <mat-icon>tablet_mac</mat-icon>
        <h2>Mobile and tablet</h2>
        <hr />
        <ul>
          <li>iPhone and iPad</li>
          <li>Android phones and tablets</li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="subscription-container">
    <br />
    <br />
    <div class="text-container">
      <div>
        <h1>Select Your Plan</h1>
        <h2>
          No hidden fees, equipment rentals, or installation appointments.
        </h2>
        <h3 [style.margin-top]="'10px'">Switch plans or cancel anytime.</h3>
      </div>
    </div>
    <div class="subscription-pricings">
      <hr />
      <br />
      <br />
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef></th>
          <td [style.text-align]="'start'" mat-cell *matCellDef="let element">
            {{ element.benefits }}
          </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th
            class="subscription-button"
            [style.width]="'25%'"
            mat-header-cell
            *matHeaderCellDef
          >
            <button mat-raised-button class="black">Free</button>
          </th>
          <td class="shrink" mat-cell *matCellDef="let element">
            <mat-icon [ngClass]="{ green: element.free, red: !element.free }">{{
              element.free ? "check" : "close"
            }}</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th
            class="subscription-button"
            [style.width]="'25%'"
            mat-header-cell
            *matHeaderCellDef
          >
            <button mat-raised-button class="black">$7.99 / Month</button>
          </th>
          <td class="shrink" mat-cell *matCellDef="let element">
            <mat-icon [ngClass]="{ green: element.paid, red: !element.paid }">{{
              element.paid ? "check" : "close"
            }}</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <br />
      <br />
    </div>
  </div>
  <app-footer></app-footer>
</div>
