<div>
    <div class="text-container">
      <h1>Popular TV Shows</h1>
      <h1 [routerLink]="['/ngmovies/tvshows/all-shows']" class="see-all">See all <mat-icon>arrow_forward_ios</mat-icon></h1>
    </div>
    <div class="popular-movies-container">
      <app-carousel [data]="shows"></app-carousel>
    </div>
    <div class="text-container">
      <h1>Top Rated TV Shows</h1>
    </div>
    <div class="popular-movies-container">
      <app-top-rated [data]="topRated"></app-top-rated>
    </div>
  </div>
  