<div class="container" id="help-container">
  <mat-card>
    <mat-card-content>
      <div>
        <h2 [style.margin-top]="'0px'">Getting Started:</h2>
        <ul>
          <li>Download the application on your device's app store</li>
          <li>Create an account</li>
          <li>Log in to the application</li>
          <li>Browse through the selection of movies and TV shows</li>
          <li>Click on the title to start streaming</li>
        </ul>
      </div>
      <div>
        <h2>Searching for Content:</h2>
        <ul>
          <li>Use the search bar to find specific titles</li>
          <li>
            Apply filters such as genre, release year, and IMDb rating to narrow
            down your search
          </li>
        </ul>
      </div>
      <div>
        <h2>Bookmarks:</h2>
        <ul>
          <li>
            Add titles to your bookmarks by clicking on the "Add to Watchlist"
            button
          </li>
          <li>
            Access your bookmarks by clicking on the menu button and selecting
            "Bookmarked"
          </li>
        </ul>
      </div>
      <div>
        <h2>Account Settings:</h2>
        <ul>
          <li>
            Update your account information by clicking on the menu button and
            selecting "Account"
          </li>
          <li>Manage your subscription and billing information</li>
        </ul>
      </div>
      <div>
        <h2>Discover:</h2>
        <ul>
          <li>
            Use the drop-down menu to choose the desired release year or range
            of years
          </li>
          <li>
            Use the drop-down menu to choose the desired country or countries of
            production
          </li>
          <li>Close any other applications running in the background</li>
          <li>
            Click on the "Filter by Genre" button to open the genre selection
            menu, Use the checkboxes to select the desired genres
          </li>
          <li>You can also apply multiple filters at once</li>
          <li>
            Note that the number of movies available in each filter category may
            vary. If you're having trouble finding a specific movie using the
            filters, try adjusting your selection or using the search bar to
            find it directly.
          </li>
        </ul>
      </div>
      <div>
        <h2>Recent:</h2>
        <ul>
          <li>
            Our Recent tab allows you to keep track of the movies and TV shows
            you've recently watched on our platform. It can be accessed by
            clicking the "Recent" button on the navigation menu.
          </li>
          <li>
            The Recent tab displays a list of up to 50 of the most recently
            watched movies and TV shows. This list is updated automatically as
            you watch new content. You can use this tab as a quick reference for
            continuing to watch a previously viewed show or movie, or for
            revisiting one you enjoyed in the past.
          </li>
        </ul>
      </div>
      <div>
        <h2>Troubleshooting:</h2>
        <ul>
          <li>
            Ensure that you have a stable internet connection for smooth
            streaming
          </li>
          <li>Make sure that your device's software is up to date</li>
          <li>Close any other applications running in the background</li>
          <li>
            Restart the application and log in again if you are experiencing
            issues
          </li>
          <li>
            If you are still experiencing issues or have any further questions,
            please contact our customer support team for assistance.
          </li>
        </ul>
      </div>
      <div>
        <h2>Subscription Details:</h2>
        <p>
          We accept a variety of payment methods to make it easy for you to
          subscribe to our service. One of the payment method is Stripe, an
          online payment processing platform that allows secure transactions.
        </p>

        <p>
          When you sign up for a subscription, you'll be prompted to enter your
          billing information and choose your preferred payment method. If you
          choose Stripe as your payment method, you'll be directed to the Stripe
          payment gateway to enter your credit or debit card information.
        </p>
        <h3>
          Accepted Payment Types:
          <ul>
            <li>Visa</li>
            <li>Mastercard</li>
            <li>American Express</li>
            <li>Discover</li>
            <li>JCB</li>
            <li>Diners Club</li>
            <li>Apple Pay</li>
          </ul>
        </h3>
        <p>
          Note that all transactions are securely processed by Stripe, and we do
          not store your credit card information on our servers.
        </p>
        <p>
          If you encounter any issues with your payment, please contact our
          support team for assistance. They will assist you to resolve the
          payment issue as soon as possible.
        </p>
        <p>
          If you need to change or update your payment method, you can do so
          from the "Account" section in the menu. There, you can also view your
          billing history and manage your subscription
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="footer">
  <hr [style.background-color]="'#999999'" />
  <p
    [style.text-align]="'center'"
    [style.padding]="'10px'"
    [style.font-size]="'14px'"
  >
    Copyright © 2022 All Rights Reserved by
    <span class="highlight">ngMovies.</span>
  </p>
</div>
