@use "@angular/material" as mat;
@use "/src/shared/components/snackbar/snackbar.component.scss-theme.scss" as
  snackbar;
@use "/src/app/pages/root-layout/root-layout.component.scss-theme.scss" as root;
@use "src/shared/components/spinner/spinner.component.scss-theme.scss" as
  spinner;

@include mat.core();

$custom-primary: mat.define-palette(mat.$blue-gray-palette, A200);
$custom-accent: mat.define-palette(mat.$deep-orange-palette,800);

$custom-primary-light: mat.define-palette(mat.$gray-palette, 800);
$custom-accent-light: mat.define-palette(mat.$teal-palette, 500);

$custom-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

$custom-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary-light,
      accent: $custom-accent-light,
    ),
  )
);

@include mat.all-component-colors($custom-theme);
@include snackbar.color($custom-theme);
@include root.color($custom-theme);
.theme-light {
  @include spinner.color($custom-theme-light);
  @include mat.all-component-colors($custom-theme-light);
  @include root.color($custom-theme-light);
  @include snackbar.color($custom-theme-light);
}
