<div class="container">
  <div class="login-form">
    <mat-card>
      <mat-card-title>
        <h1>Account settings</h1>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <h3 class="title">Profile</h3>
            <mat-divider></mat-divider>
            <mat-form-field
              floatLabel="always"
              [color]="'primary'"
              appearance="fill"
              [style.margin-top]="'15px'"
              class="form-container"
            >
              <mat-label>Name</mat-label>
              <input
                placeholder="{{ user.name }}"
                autocomplete="off"
                formControlName="name"
                matInput
                required
              />
              <mat-error *ngIf="r['name'].errors?.['required']"
                >You must enter a value</mat-error
              >
            </mat-form-field>
            <mat-form-field
              floatLabel="always"
              [color]="'primary'"
              appearance="fill"
              [style.margin-top]="'15px'"
              class="form-container"
            >
              <mat-label>LastName</mat-label>
              <input
                placeholder="{{ user.lastName }}"
                autocomplete="off"
                formControlName="lastName"
                matInput
                required
              />
              <mat-error *ngIf="r['lastName'].errors?.['required']"
                >You must enter a value</mat-error
              >
            </mat-form-field>
            <div class="save">
              <button mat-raised-button><mat-icon>save</mat-icon>Save</button>
            </div>
          </div>
        </form>
        <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
          <div class="input-container">
            <h3 class="title">Email</h3>
            <mat-divider></mat-divider>
            <mat-form-field
              floatLabel="always"
              [color]="'primary'"
              appearance="fill"
              [style.margin-top]="'15px'"
              class="form-container"
            >
              <mat-label>Current email</mat-label>
              <input
                [value]="user.email"
                autocomplete="off"
                matInput
                required
                disabled
              />
            </mat-form-field>
            <mat-form-field
              floatLabel="always"
              [color]="'primary'"
              appearance="fill"
              [style.margin-top]="'15px'"
              class="form-container"
            >
              <mat-label>New email</mat-label>
              <input
                autocomplete="off"
                formControlName="newEmail"
                matInput
                required
              />
              <mat-error *ngIf="getNewEmailError()">{{
                getNewEmailError()
              }}</mat-error>
              <mat-error
                *ngIf="emailForm.get('newEmail')!.hasError('matchingValues')"
                >New email cannot be the same as old email
              </mat-error>
            </mat-form-field>
            <mat-form-field
              floatLabel="always"
              [style.margin-top]="'15px'"
              [color]="'primary'"
              appearance="fill"
              class="form-container"
            >
              <mat-label>Enter your password</mat-label>
              <input
                autocomplete="off"
                formControlName="passwordEmail"
                matInput
                [type]="hideConfirmEmailPass ? 'password' : 'text'"
                required
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hideConfirmEmailPass = !hideConfirmEmailPass"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmEmailPass"
              >
                <mat-icon>{{
                  hideConfirmEmailPass ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="getEmailPassError()">{{
                getEmailPassError()
              }}</mat-error>
            </mat-form-field>
            <div class="save">
              <button mat-raised-button><mat-icon>save</mat-icon>Save</button>
            </div>
          </div>
        </form>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
          <div class="input-container">
            <div class="titles-errors">
              <h3
                [style.margin]="'0'"
                class="caps-lock-error"
                [ngClass]="{
                  visibility: showError,
                  visibilityHidden: !showError
                }"
              >
                Caps Lock is on*
              </h3>
              <h3 [style.margin]="'0'" class="title">Password</h3>
              <h3 [style.margin]="'0'" class="visibilityHidden remove">
                eeeeeeee***
              </h3>
            </div>
            <mat-divider></mat-divider>
            <mat-form-field
              floatLabel="always"
              [style.margin-top]="'15px'"
              [color]="'primary'"
              appearance="fill"
              class="form-container"
              (capsLock)="showError = $event"
            >
              <mat-label>Current password</mat-label>
              <input
                autocomplete="off"
                formControlName="password"
                matInput
                [type]="hide ? 'password' : 'text'"
                required
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="getErrorMessagePassword()">{{
                getErrorMessagePassword()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field
              floatLabel="always"
              [style.margin-top]="'15px'"
              [color]="'primary'"
              appearance="fill"
              class="form-container"
            >
              <mat-label>New password</mat-label>
              <input
                autocomplete="off"
                formControlName="newPassword"
                matInput
                [type]="hideNewPass ? 'password' : 'text'"
                required
              />
              <mat-error *ngIf="getErrorMessageNewPassword()">{{
                getErrorMessageNewPassword()
              }}</mat-error>
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hideNewPass = !hideNewPass"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPass"
              >
                <mat-icon>{{
                  hideNewPass ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field
              floatLabel="always"
              [style.margin-top]="'15px'"
              [color]="'primary'"
              appearance="fill"
              class="form-container"
            >
              <mat-label>Confirm new password</mat-label>
              <input
                autocomplete="off"
                formControlName="confirmPassword"
                matInput
                [type]="hideConfirmPass ? 'password' : 'text'"
                required
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngIf="passwordForm.hasError('notSame')"
                >Passwords do not match.</mat-error
              >
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hideConfirmPass = !hideConfirmPass"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmPass"
              >
                <mat-icon>{{
                  hideConfirmPass ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <div class="save">
              <button mat-raised-button><mat-icon>save</mat-icon>Save</button>
            </div>
          </div>
        </form>
        <div class="input-container">
          <h3 class="title">Personal Data</h3>
          <mat-divider></mat-divider>
          <h4>
            Your account contains personal data that you have given us. This
            section allows you to <span class="highlight">delete</span> that
            data or view your subscription details.
          </h4>
          <h4>
            Deleting this data will permanently remove your account, and
            <span class="highlight">this cannot be recovered.</span>
          </h4>
          <div class="delete-button">
            <button [routerLink]="['../subscriptions']" color="accent" mat-raised-button>
              Subscription &#187;
            </button>
            <button (click)="openDeleteModal()" color="warn" mat-stroked-button>
              <mat-icon>delete_forever</mat-icon>Delete
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
