@use "sass:map";
@use "@angular/material" as mat;

@mixin color($custom-theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($custom-theme);
  // Get the accent color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");

  .selected {
    span {
      color: mat.get-color-from-palette($accent-palette, 500) !important;
    }
    mat-icon {
      color: mat.get-color-from-palette($accent-palette, 500) !important;
    }
  }
  .search-icon {
    color: mat.get-color-from-palette($accent-palette, 500) !important;
  }

  .color-accent {
    color: mat.get-color-from-palette($accent-palette, 500) !important;
  }
  .save {
    button {
      background-color: mat.get-color-from-palette(
        $accent-palette,
        500
      ) !important;
    }
  }
  .highlight {
    color: mat.get-color-from-palette($accent-palette, 400) !important;
  }
  .servers {
    button {
      color: mat.get-color-from-palette($accent-palette, 400) !important;
    }
  }

  .cast-info {
    &:hover {
      color: mat.get-color-from-palette($accent-palette, 400) !important;
    }
  }
  .genre-info {
    &:hover {
      color: mat.get-color-from-palette($accent-palette, 400) !important;
    }
  }

  .rate-area > input:checked ~ label {
    color: mat.get-color-from-palette($accent-palette, 400) !important;
    text-shadow: none;
  }
  .rate-area:not(:checked) > label:hover,
  .rate-area:not(:checked) > label:hover ~ label {
    color: mat.get-color-from-palette($accent-palette, 400) !important;
    text-shadow: none;
  }
}
