@use "@angular/material" as mat;

$color-config: mat.get-color-config(mat.$deep-orange-palette, 500);
$color-config-gray: mat.get-color-config(mat.$gray-palette, 500);
::-webkit-scrollbar {
  display: none;
}
.menu-list {
  .mat-mdc-list-item-interactive.mdc-list-item--selected::before {
    opacity: 0 !important;
  }
}
.sidebar-container {
  height: 100%;

  mat-drawer {
    min-width: 13%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.toolbar {
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: sticky;
  top: 0;
  min-height: 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-family: "Nunito";
  .mat-mdc-selection-list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 15px;
    font-size: 18px;
    min-width: 0;
    text-align: center;

    a {
      text-align: center;
      font-size: 16px;
    }
  }

  ul {
    min-width: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
  }
  mat-icon {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.logo {
  margin-top: 15px;
  margin-bottom: 0 !important;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 10px;
  height: 10%;
  font-family: "Nunito";
}

.menu-list {
  font-family: "Nunito";
  overflow: hidden;
  .mat-mdc-selection-list {
    padding-top: 0;
    width: 100%;
    .mat-mdc-list-item {
      width: 100%;

      span {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 15px;
      }
    }
  }

  mat-divider {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    margin-left: 16px;
  }
}

.logout {
  margin-top: 35px;
}

.divider {
  height: 75%;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .profile-info {
    margin: 0;

    h3 {
      margin: 0;
    }

    h5 {
      margin: 0;
    }
  }

  .profile-picture {
    height: 48px;
    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }
}

.menu-content {
  min-height: 100%;
  max-width: 280px;
  overflow: hidden;
  .mat-mdc-selection-list {
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
    align-items: center;
  }
  .mat-mdc-list-item {
    height: 10%;
    width: 100%;

    span {
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  h2 {
    font-family: "Nunito";
    text-align: center;
    margin: 5px !important;
  }

  .mat-mdc-menu-content {
    padding: 0px !important;
  }
}

.hamburger {
  display: none;
}

.toggle {
  display: none;
}

#side-menu {
  display: none;
}

.toggle2 {
  display: none;
}
.hamburger2 {
  display: none;
}

.divider-1 {
  display: none;
}

@media screen and (max-width: 1315px) {
  .toolbar {
    .mat-mdc-selection-list {
      font-size: 14px;
      gap: 5px;
      #movie-button {
        width: 40%;
      }
      a {
        text-align: center;
        font-size: 14px;
      }
    }

    ul {
      padding-left: 0 !important;
      margin-right: 5px !important;
      gap: 5px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .toolbar {
    column-gap: 10px;
    justify-content: space-between;
    .mat-mdc-selection-list {
      display: none !important;
    }
  }

  .hamburger {
    transform: scale(1.2);
    display: block !important;

    .mat-mdc-menu-trigger {
      width: 50;
      height: 50;
      text-align: center !important;
      display: flex !important;
      justify-content: center !important;
    }
  }

  .logo {
    margin: 15px;
  }
}

@media screen and (min-width: 800px) {
  #divider-remove {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .sidebar-container {
    height: 100%;

    #side {
      display: none;
    }
  }

  .toggle {
    display: block;
  }

  #side-menu {
    display: block;
    background-color: #303030;
  }
}

@media screen and (max-width: 625px) {
  .toolbar {
    min-height: 175px !important;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 5px;

    .divider {
      display: none;
    }
  }

  .divider-1 {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .profile-container {
    margin-top: 25px;
    padding-bottom: 25px;
  }

  .hamburger {
    display: none !important;
  }

  .hamburger2 {
    display: block;
    transform: scale(1.2);
  }

  .toggle2 {
    display: block;
  }

  .toggle {
    display: none;
  }
}
@media screen and (max-height: 830px) {
  ::ng-deep .cdk-overlay-container .flag-menu {
    margin-top: 4rem;
  }
}
