.hero-container {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-info {
  width: 70%;
  margin: auto;
  font-family: "Nunito";
  color: white;
  gap: 35px;
  padding-top: 200px;
  display: flex;
  justify-content: center;

  h1 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  img {
    border-radius: 5px;
  }

  .imbd-link {
    color: gold;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
  .misc {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }

  .trailer-icon {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  .servers {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    button {
      font-family: "Nunito";
      border-radius: 25px;
    }
  }

  .overview {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.750);
    }
  }
}

.extra-info{
    width: 70%;
    margin: auto;
    font-family: "Nunito";
    color: white;
    gap: 35px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    .extra-info-container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 25px;
        span{
            opacity: 0.75;
            font-size: 14px;
        }

        .cast-info{
            cursor: pointer;
        }
    }
}
@media screen and (max-width:1000px){
    .item-info{
        width: 95%;
        padding-top: 100px;
        .img-container{
            display: none;
        }
    }
 
    .extra-info{
        width: 95%;
    }
}
