<form [formGroup]="loginUserForm" (ngSubmit)="onSubmit()">
  <mat-form-field
    (capsLock)="capsOn = $event"
    [color]="'primary'"
    appearance="outline"
    class="form-container"
  >
    <mat-label>Enter your password</mat-label>
    <input
      formControlName="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      required
    />
    <mat-error *ngIf="getErrorMessagePassword()">{{
      getErrorMessagePassword()
    }}</mat-error>
    <p class="caps-lock-error" *ngIf="capsOn">Caps Lock is on*</p>

    <span
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility" : "visibility_off" }}</mat-icon>
    </span>
  </mat-form-field>
  <div class="button-container">
    <button
      [style.font-family]="'Nunito'"
      mat-flat-button
    >
      Save
    </button>
  </div>
</form>
