* {
  margin: 0 auto;
}

.form-container {
  width: 90%;
  padding-top: 25px;
  .mad-mdc-form-field-error {
    font-size: 33px !important;
  }
}
span {
  cursor: pointer;
  margin-right: 10px;
}
.mat-mdc-form-field-error {
  font-size: 14px;
  margin-top: 5px;
}
.caps-lock-error {
  font-size: 14px;
  color: #f44336;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  button {
    width: 35%;
    font-size: 16px;
  }
}
@media screen and (max-height: 700px) {
  .container {
    height: 700px;
  }
}
@media screen and (max-width: 650px) {
  .button-container {
    margin-top: 35px;
  }
  .login-form {
    .mdc-card {
      width: 90%;
    }
  }
}
